<html>
    <head>
        <style>
            .Main_menu
            {
                background-color: #200eff;
                color: #ff1616;
                padding: 10px;
                font-size: 30px;
                font-family: "Agency FB";
                width: 320px;

            }
        </style>
    </head>
      <body>
         <table>
             <tr>
                 <th class="Main_menu"><a href="{% url 'Admin_home' %}">Home</a></th>
                 <th class="Main_menu"><a href="{% url 'Admin_View_Product' %}">Product</a></th>
                 <th class="Main_menu"><a href="{% url 'Admin_View_User' %}">User</a></th>
                 <th class="Main_menu"><a href="{% url 'In_Cart' %}">Add_To_Cart</a></th>
                 <th class="Main_menu"><a href="{% url 'main' %}">Logout</a></th>
             </tr>
         </table>
      </body>
</html>